<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" class="rel">
<div>
    <!-- EDIT Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" ng-show="showAgents">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Make changes for {{agent.name}}
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="hidden">ID</label>
                            <input type="text" class="hidden" ng-model="agent.id" ng-disabled="agent.id" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="agent.name" />
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" ng-model="agent.username" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="agent.email" />
                        </div>
                        <!--Towns in Agents section-->
                        <div class="row">
                            <div class="form-group col-md-10">
                                <label>Add new Town</label>
                                <input type="text" ng-model="selectedTown" placeholder="Enter town" uib-typeahead="town as town.name for town in getTowns($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                <div class="form-group col-md-10"><button type="button" class="btn btn btn-success" ng-click="add(selectedTown)"><i class="fa fa-plus"></i></button></div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Currenty assigned towns:</label>
                            <div ng-repeat="town in agent.towns">
                                <div class="form-control col-md-3">
                                    {{ town.zip }} {{ town.name }}&nbsp;&nbsp;<button class="btn btn-link" ng-click="remove(town)"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
                    <button type="button" onclick="$('.modal').modal('hide')" class="btn btn-primary" ng-click="save(item)">
                    Save changes
                </button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
    <!-- NEW Agent Modal -->
    <div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Creating agent {{agent.name}}
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form" name="myForm">
                        <div ng-form="myForm">
                            <div class="form-group">
                                <label class="hidden">ID</label>
                                <input type="hidden" class="form-control" ng-model="agent.id" ng-disabled="agent.id" />
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" ng-model="agent.name" required ng-minlength="3" ng-pattern="/^[a-zA-Z\s]*$/" />
                                <p id="valid" ng-show="onSubmit && (!myForm.name.$valid)">Minimum <strong id="mincharacters">3</strong> characters required !</p>
                                <p id="valid" ng-show="myForm.name.$error.pattern">
                                    Please input alphabet characters only.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="username" name="username" class="form-control" ng-model="agent.username" required ng-minlength="5" />
                                <p id="valid" ng-show="onSubmit && (!myForm.username.$valid)">Minimum <strong id="mincharacters">5</strong> characters required !</p>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" ng-model="agent.email" required ng-minlength="7" />
                                <p id="valid" ng-show="onSubmit && (!myForm.email.$valid) ">Minimum <strong id="mincharacters ">7</strong> characters required !</p>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
                    <button type="button" class="btn btn-primary" ng-click="save()">
                    Create
                </button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
    <div>

        <div class="form-group pull-right">
            <td> <a href="" ng-click="new()"><button type="submit" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target="#myModalNew" type="submit" admin-view><i class="fa fa-plus" aria-hidden="true" ></i> AGENT</button></a></td>
        </div>
        <div class="form-group pull-left">
            <input type="search" class="search form-control" placeholder="Search as you type" ng-model="select">
        </div>
        <div class="form-group pull-left">
            <select class="form-control" ng-model="sort">
                            <option value="" disabled selected>Sort by</option>
                            <option value="id" class="hidden">Id</option>
                            <option value="+name">Name asc</option>
                            <option value="-name">Name dsc</option>
                            </select>
        </div>

        <table class="table table-striped table-bordered table-list">
            <thead>
                <tr>
                    <th class="hidden">ID</th>
                    <th><i class="fa fa-address-card" aria-hidden="true"></i> Name</th>
                    <th><i class="fa fa-user" aria-hidden="true"></i> Username</th>
                    <th><i class="fa fa-envelope" aria-hidden="true"></i> Email</th>
                    <th class="col-md-1">Edit</th>
                    <th class="col-md-1" admin-view>Delete</th>
                </tr>
            </thead>
            <tr ng-repeat="item in agents | filter:select | orderBy:sort">

                <td class="col-md-1 hidden">{{item.id}}</td>
                <td class="col-md-5">{{item.name}}</td>
                <td class="col-md-3">{{item.username}}</td>
                <td class="col-md-3">{{item.email}}</td>
                <td class="col-md-1"> <a href="" ng-click="edit(item)"><button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="submit"  param="{{item.username}}" admin-view is-from-agent><i class="fa fa-pencil-square-o" aria-hidden="true" ></i></button></a></td>
                <td class="col-md-1" admin-view> <a href="" ng-click="delete(item)"><button type="submit" class="btn btn-danger" type="submit"><i class="fa fa-trash-o" aria-hidden="true" </i></button></a></td>
            </tr>
        </table>
        <div class="alert alert-info" ng-show="(agents | filter:select).length == 0">
            <strong>Hello Talent!</strong> No results for your search. Watch your fingers. </div>

    </div>