<!--<input type="date" class="datepicker" data-date-format="mm/dd/yyyy" ng-model="requestData.startDate">
<input class="datepicker" data-date-format="mm/dd/yyyy" ng-model="requestData.endDate">-->
<!--<input type="date" class="datepicker" data-date-format="mm/dd/yyyy" ng-model="requestData.startDate">
<input class="datepicker" data-date-format="mm/dd/yyyy" ng-model="requestData.endDate">-->
<div class="container-fluid">

<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-braille fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3>{{dashData.categoriesCount}}</h3>
                                    <div>Categories</div>
                                </div>
                            </div>
                        </div>
                        <a ng-href="#/categories">
                            <div class="panel-footer" >
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-bag fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3>{{dashData.productsCount}}</h3>
                                    <div>Products</div>
                                </div>
                            </div>
                        </div>
                        <a ng-href="#/products">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-address-card-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3>{{dashData.customersCount}}</h3>
                                    <div>Customers</div>
                                </div>
                            </div>
                        </div>
                        <a ng-href="#/customers">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3>{{dashData.agentsCount}}</h3>
                                    <div>Agents</div>
                                </div>
                            </div>
                        </div>
                        <a ng-href="#/agents">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

    <div class="row" style="border:2px solid lightgray; border-radius:5px; margin-bottom:20px">
     <div class="col-xs-7" ng-show="showFirst">           
             <canvas id="sales"></canvas>        
    </div>
    <div class="col-xs-7" ng-show="showSecond">
        <div ng-repeat="chart in charts">
             <canvas id="{{chart}}" ng-show="{{chart}}"></canvas>
        </div>
    </div>
        <div class="col-xs-3">
            <table class="table table-striped table-bordered table-list auto " style="counter-reset: serial-number; " ng-show="showRegion">
        <thead>
            <tr>
                <th>Region</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody ng-repeat="region in dashData.regions">
            <tr>
                <td>{{region.label}}</td>
                <td>{{region.sales}}</td>
            </tr>
        </tbody>
        </table>
               <table class="table table-striped table-bordered table-list auto " style="counter-reset: serial-number; " ng-show="showAgent">
        <thead>
            <tr>
                <th>Agent</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody ng-repeat="agent in dashData.agents">
            <tr>
                <td>{{agent.label}}</td>
                <td>{{agent.sales}}</td>
            </tr>
        </tbody>
        </table>
               <table class="table table-striped table-bordered table-list auto " style="counter-reset: serial-number; " ng-show="showCategory">
        <thead>
            <tr>
                <th>Category</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody ng-repeat="category in dashData.categories">
            <tr>
                <td>{{category.label}}</td>
                <td>{{category.sales}}</td>
            </tr>
        </tbody>
        </table>
               <table class="table table-striped table-bordered table-list auto " style="counter-reset: serial-number; " ng-show="showStatus">
        <thead>
            <tr>
                <th>Status</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody ng-repeat="invoice in dashData.invoices">
            <tr>
                <td>{{invoice.status}}</td>
                <td>{{invoice.count}}</td>
            </tr>
        </tbody>
        </table>
        </div>
        
    <div class="col-xs-2">           
             <select class="form-control" ng-model="selectedSale" ng-options="item for item in sales"  ng-change="getChart()"><option value="" disabled selected>Select chart...</option></select>   
    </div>
</div>
     <div class="row">
          <div class="col-xs-6"  style="border:2px solid lightgray; border-radius:5px; margin-bottom:20px">
            <canvas id="top5"></canvas>
         </div>
         <div class="col-xs-6"  style="border:2px solid lightgray; border-radius:5px; margin-bottom:20px">
            <canvas id="burningItems"></canvas>
         </div>
    </div>
    <div class="row" style="border:2px solid lightgray; border-radius:5px; margin-bottom:20px">
                     <canvas id="annualSales"></canvas>
    </div>
</div>