<div>
    <div id="fullscreen_bg" class="fullscreen_bg"/>
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please log in</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="inputEmail" ng-model="user.name" class="form-control" placeholder="Username" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" ng-model="user.pass" class="form-control" placeholder="Password" required="">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="user.remember"> Remember me
              </label>
            </div>
            <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <div>
            <br>
            <button ng-click="loginAs('marlon')" class="btn btn-sm btn-primary btn-info top-buffer btn-block">Admin login as Marlon</button>
            <button ng-click="loginAs('kevin')" class="btn btn-sm btn-success top-buffer btn-block">User login as Kevin</button>
        </div>
          </form>
    </div>
</div>
