<div>
    <!-- EDIT Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" ng-show="showShipper">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Make changes for {{shipper.name}}
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" ng-model="shipper.id" ng-disabled="shipper.id" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="shipper.name" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" ng-model="shipper.address" />
                        </div>
                        <div class="form-group">
                            <label>Town</label>
                            <input type="text" class="form-control" ng-model="shipper.town" />
                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
                    <button type="button" onclick="$('.modal').modal('hide')" class="btn btn-primary" ng-click="save(item)">
                    Save changes
                </button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->


    <!-- NEW Shipper Modal -->
    <div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Creating shipper {{shipper.name}}
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="hidden">ID</label>
                            <input type="hidden" class="form-control" ng-model="shipper.id" ng-disabled="shipper.id" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="shipper.name" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" ng-model="shipper.address" />
                        </div>
                        <div class="form-group">
                            <label>Town</label>
                            <div>
                                <input type="text" class="form-control" ng-model="shipper.town" ng-change="autocomplete(shipper.town)" ng-keyup="textUp($event)">
                            </div>
                            <select class="form-control" id="townsel" data-style="btn-primary" ng-model="shipper.townId" ng-options="town.id as town.name for town in towns" ng-keypress="townSelected($event)"></select>
                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
                    <button type="button" class="btn btn-primary" ng-click="save()">
                    Create
                </button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->


    <div class="form-group pull-right">
        <td><button type="submit" class="btn btn-sm btn-primary btn-create" data-toggle="modal" ng-click="new()" data-target="#myModalNew" type="submit" admin-view>
                    <i class="fa fa-plus" aria-hidden="true" ></i> SHIPPER</button></a>
        </td>
    </div>

    <div>
        <div class="form-group pull-left">
            <input type="search" class="search form-control" placeholder="Search as you type" ng-model="select">
        </div>
        <div class="form-group pull-left">
            <select class="form-control" ng-model="sort">
                    <option value="" disabled selected>Sort by</option>
                    <option value="id" class="hidden">Id</option>
                    <option value="+name">Name asc</option>
                    <option value="-name">Name dsc</option>
                    <option value="town">Town</option>
            </select>
        </div>
    </div>

    <table class="table table-striped table-bordered table-list">
        <thead>
            <tr>
                <th class="hidden">ID</th>
                <th><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name</th>
                <th><i class="fa fa-address-book" aria-hidden="true"></i> Address</th>
                <th><i class="fa fa-map-marker" aria-hidden="true"></i> Town</th>
                <th class="col-md-1" admin-view>EDIT</th>
                <th class="col-md-1" admin-view>DELETE</th>
            </tr>
        </thead>
        <tr ng-repeat="item in shippers | filter:select | orderBy:sort ">
            <td class="hidden">{{item.id}}</td>
            <td class="col-md-3">{{item.name}}</td>
            <td class="col-md-3">{{item.address}}</td>
            <td class="col-md-4">{{item.town}}</td>
            <td class="col-md-1" admin-view> <a href="" ng-click="edit(item)"><button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true" ></i></button></a></td>

            <td class="col-md-1" admin-view> <a href="" ng-click="delete(item)"><button type="submit" class="btn btn-danger" type="submit"><i class="fa fa-trash-o" aria-hidden="true" </i></button></a></td>
        </tr>
    </table>
    <div class="alert alert-info" ng-show="(shippers | filter:select).length == 0">
        <strong>Hello Talent!</strong> No results for your search. Watch your fingers.
    </div>
</div>