<link rel="stylesheet" href="styles/custom.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" class="rel">
<div>
    <!-- EDIT Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" ng-show="showSuppliers">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Make changes for {{supplier.name}}
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="hidden">ID</label>
                            <input type="hidden" class="form-control" ng-model="supplier.id" ng-disabled="supplier.id" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="supplier.name" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" ng-model="supplier.address" />
                        </div>
                        <div class="form-group">
                            <label>Town</label>
                            <input type="text" class="form-control" ng-model="supplier.town" />
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
                    <button type="button" onclick="$('.modal').modal('hide')" class="btn btn-primary" ng-click="save(item)">
                    Save changes
                </button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
    <!-- NEW Supplier Modal -->
    <div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Creating supplier {{supplier.name}}
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="hidden">ID</label>
                            <input type="hidden" class="form-control" ng-model="supplier.id" ng-disabled="supplier.id" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="supplier.name" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" ng-model="supplier.address" />
                        </div>
                        <!--EDIT-->
                        <div class="form-group">
                            <label>Town</label>
                            <div>
                                <input type="text" class="form-control" ng-model="supplier.town" ng-change="autocomplete(supplier.town)" ng-keyup="textUp($event)">
                            </div>
                            <select class="form-control" id="townsel" data-style="btn-primary" ng-model="supplier.townId" ng-options="town.id as town.name for town in towns" ng-keypress="townSelected($event)"></select>

                            <!--
                    <div class='typeahead-demo'>   /// TYPEAHEAD
                <input type="text" ng-model="selected" uib-typeahead="town as town.name for town in towns | filter:$viewValue | limitTo:8" class="form-control">
            </div>
-->
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
                    <button type="button" class="btn btn-primary" ng-click="save()" onclick="$('.modal').modal('hide')">
                    Create
                </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="form-group pull-left">
           <input type="text" class="form-control" ng-model="selectSearch">
        </div>
        <div class="form-group pull-left">
            <a href="" ng-click="search()"><button type="submit" class="btn btn-info" type="submit" ><i class="fa fa-search" aria-hidden="true"></i></button></a>
        </div>
    </div>
    <!--End of Modal-->
    <div>
        <div class="form-group pull-right">
            <td> <a href="" ng-click="new()"><button type="submit" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target="#myModalNew" type="submit" admin-view><i class="fa fa-plus" aria-hidden="true" ></i> SUPPLIER</button></a></td>

        </div>
        <div>
            <!--<div class="form-group pull-left">
                <input type="search" class="search form-control" placeholder="Search as you type" ng-model="select">
            </div>
            <div class="form-group pull-left">
                <select class="form-control" ng-model="sort">
                    <option value="" disabled selected>Sort by</option>
                    <option value="id" class="hidden">Id</option>
                    <option value="+name">Name asc</option>
                    <option value="-name">Name dsc</option>
                    <option value="town">Town</option>
                    </select>
            </div>-->
            <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th class="hidden">ID</th>
                        <th><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name</th>
                        <th><i class="fa fa-address-book" aria-hidden="true"></i> Address</th>
                        <th><i class="fa fa-map-marker" aria-hidden="true"></i> Town</th>
                        <th admin-view>Edit</th>
                        <th admin-view>Delete</th>
                    </tr>
                </thead>
                <tr ng-repeat="item in suppliers | filter:select | orderBy:sort ">

                    <td class="hidden">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.town}}</td>
                    <td admin-view> <a href="" ng-click="edit(item)"><button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true" ></i></button></a></td>
                    <td admin-view> <a href="" ng-click="delete(item)"><button type="submit" class="btn btn-danger" type="submit"><i class="fa fa-trash-o" aria-hidden="true" </i></button></a></td>
                </tr>
            </table>
            <div class="alert alert-info" ng-show="(supplier | filter:select).length == 0">
                <strong>Hello Talent!</strong> Nao results for your search. Watch your fingers. </div>
        </div>
        <!--
            <div class="col col-xs-12 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create" ng-click="new()"><i class="fa fa-plus" aria-hidden="true"> </i>  SUPPLIER</button>
            </div>-->
        <div>
                    <!--PAGINATION-->
                    <div class="text-center" ng-show="searchPage" >
                        <button id="firstSearch" class="btn btn" ng-click="search(0,0)">First</button>
                        <button id="previousSearch" class="btn btn" ng-click="search(currentPage-2,-1)">Previous</button>
                        <ul class="pagination" ng-repeat="page in pages"><button id="{{page}}Search" class="btn btn-default" ng-click="search(page-1,0)">{{page}}</button></ul>
                        <button id="nextSearch" class="btn btn" ng-click="search(currentPage,1)">Next</button>
                        <button id="lastSearch" class="btn btn" ng-click="search(totalPages-1,0)">Last</button>
                    </div>
                    <div class="text-center" ng-show="pagination"  >
                        <button id="first" class="btn btn" ng-click="goto(1,0)">First</button>
                        <button id="previous" class="btn btn" ng-click="goto(currentPage,-1)">Previous</button>
                        <ul class="pagination" ng-repeat="page in pages"><button id="{{page}}" class="btn btn-default" ng-click="goto(page,0)">{{page}}</button></ul>
                        <button id="next" class="btn btn" ng-click="goto(currentPage,1)">Next</button>
                        <button id="last" class="btn btn" ng-click="goto(totalPages,0)">Last</button>
                    </div>
                    <p class="text-center" ng-show="number">Page {{currentPage}} of {{totalPages}}</p>
                </div>
    </div>