.login-page {
    margin-left: -s50px;
}

table.auto {
    table-layout: auto;
}

.navbar-nav li:nth-child(2) {
    float: right;
}

.navbar-nav {
    float: none;
}

.input-append .btn.dropdown-toggle {
    float: none;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.profile {
    cursor: pointer;
}

.modal.custom .modal-dialog {
    width: 70%;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.summary {
    margin-right: 0px
}

.noborders {
    border-top: none
}


/* table meta & balance */

table.balance {
    float: right;
    width: 36%;
}

#container {
    position: relative;
}

.navbar {
    margin-bottom: 0;
}

#menu-toggle-2 {
    color: lightgray;
}

.user-header {
    background-color: #F5F5F5;
    font-family: Source Sans Pro;
}

#dashtext {
    font-family: Source Sans Pro;
    position: relative;
    right: -34px;
}

input.ng-invaild.ng-dirty {
    border: 1px solid red;
}

#valid {
    color: #7A7676;
}

#mincharacters {
    color: #4656E3;
}

.btncss {
    margin-top: 5px;
    padding: 0;
}

#rep {
    float: right;
}


/* table meta */